page-historicorevisoes {


    .slide-background {
        border-color: transparent;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .home-container {
        position: absolute;
        z-index: 2;
        top: 0;
        width: 100%;
        margin: 0 auto;
        padding: 10vw;
        text-align: center;
        color: white;
    }

    .card {
        border-radius: 10px;
        margin-bottom: 10px;
        background-color: rgba(255, 255, 255, .2);
        color: #fff;
        height: 100px;
        text-align: center;
    }

    .button-color {
        color: #fff;
    }
}
